html,
body {
  font-family: var(--font-small-text) !important;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
}

.text-4xl,
.text-3xl,
.text-2xl,
.text-xl {
  font-family: var(--font-large-text) !important;
}

.p-1 {
  padding: 0.75rem;
  padding-top: 1.0rem;
}

.flex-row {
  padding-top: 0.64rem;
}

.container:nth-child(1) > :nth-child(1) {
  display: flex;
}

.container:nth-child(1) > :nth-child(1) > :nth-child(1) {
  order: 1;
}

.container:nth-child(1) > :nth-child(1) > :nth-child(2) {
  order: 3;
}

.container:nth-child(1) > :nth-child(1) > :nth-child(3) {
  order: 2;
  padding-right: 1rem;
}

.container:nth-child(1) > :nth-child(1) > :nth-child(4) {
  order: 5;
  width: 100%;
}

.container:first-child > :first-child > :nth-child(4) .pl-0\.5 {
  text-align: left;
}

.container:first-child > :first-child > :nth-child(4) .pr-1 {
  text-align: right;
}

@media (min-width: 768px) {
  .container:first-child > :first-child > :nth-child(4) div {
    align-self: stretch;
    flex: auto;
  }
}

@media (max-width: 768px) {
  .container:first-child > :first-child > :nth-child(4) div {
    width: 100%;
  }
}

.container:nth-child(1) > :nth-child(1) > :nth-child(5) {
  order: 4;
}

.container:first-child > :first-child > :nth-child(5) span {
  color: rgba(129,185,16,.8);
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase !important;
}
